@import "./reset.scss";
@import "./font.scss";

body {
  font-family: "Nanum";
  font-size: 50px;
  background-color: #666;
}
.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
